html, body {
    /* margin: 0 auto;
    padding: 0;
    /* background-color: rgb(73, 68, 68); */
    /* scroll-behavior:smooth;  */
}
/* 
:root{
    --HEIGHT_VIEW : 0px;
    --WIDTH_VIEW : 0px;
} */

/* #app {
    width: var(--WIDTH_VIEW);
    margin: 0 auto;
} */

.header{
    height:150px;
    background-color: aqua;
}
.cluster_charts1{
    height:200px;
    width:100%;
    background-color: rgb(205, 207, 255);
}


